@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@100&family=Pavanam&display=swap');
body{
  background-color:#1c1c1c
  /* background-color:#000000 */
}
.App {
  text-align: center;
  color:#cbcbcb;
  font-family: 'Pavanam', sans-serif;
}
h1{
  font-size: 50px;
  margin-top: 6%;
  text-transform: uppercase;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

@media only screen and (max-width: 450px) {
  body {
    width: 400px;
  }

  .App {
    padding: 2% 5%;
  }

  h1 {
    font-size: 30px;
    margin-top: 8%;
  }
}