@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@100&family=Pavanam&display=swap');

.popup-bmi{
    background-color: rgb(17, 17, 17);
    box-shadow: 0px 0px 12px #ffffff;
    color: #cdcaca;
    height: 70%;
   
}
   
  .container-bmi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2%;
  }
   
  .container-bmi {
    border-radius: 8px;
    align-self: center;
    padding-top: 10%;
  }
   
  .bmi-input {
    width: 100%;
    font-size: 1.2rem;
    padding: 15px 4px;
    margin: 8px 0;
    border-radius: 8px;
  }
   
  .center {
    text-align: center;
    margin: 24px 0;
  }

  label{
    margin-bottom: 100px
  }

  
  @media only screen and (max-width: 410px) {
    .popup-window.popup-bmi {
      height: 550px;
      width: 320px;
    }
    
    .container-bmi {
      padding-top: 5%;
    }
    
    .bmi-input {
      font-size: 1.4rem;
      width: 200px;
      height: 20px;
    }
    
    .center {
      margin: 12px 0;
    }
  
    label {
      margin-bottom: 50px;
      font-size: 20px;
    }
  }