@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@100&family=Pavanam&display=swap');

.chat-container {
    display: none;
  }
  .chat-container.open {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    font-family:'IBM Plex Sans Condensed', sans-serif;
    color: black;
    opacity: 97%;
    overflow-y: auto;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
  }

  .chat-container.closed {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 1s, transform 1s;
  }
  
  
  .message-display {
    flex: 1;
    padding: 10px;
    color: black;
    font-weight: bold;
  }
  
  .message {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
  }
  
  .You {
    background-color: rgb(172, 230, 236);
  }
  
  .Assistant {
    background-color: #eaeaea;
  }
  
  .message-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #e8e7e7;
    background-color: rgb(244, 243, 243);
    
  }
  
  .user-input {
    flex: 1;
    padding: 8px;
    border: none;
    /* border-radius: 4px; */
    font-size: large;
    background-color: rgb(255, 255, 255);
    max-width: 60%;
    margin-right: 8%;
    border: 1.2px solid #000000;
    
  }
 .user-input:focus{
    background-color: #ffffff;
    border-color: rgb(7, 7, 7);
  }
  
  .chat-submit {
    padding: 8px 16px;
    cursor: pointer;
    font-size: large;
  }
  
  .chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 65px;
    height: 65px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 1px 5px 50px rgba(255, 255, 255, 0.3);
    transform-style: preserve-3d;
    transition: transform 0.2s;
  }
  
  .chat-icon img {
    width: 40px;
    height: 40px;
  }
  .chat-icon:hover{
    transform: scale(1.1);
  }

  .close{
    padding: 8px;
    color: rgb(171, 171, 171);
    font-size: 1.5rem;
  }

  .sender{
    font-weight: bold;
  }