@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@100&family=IBM+Plex+Sans:wght@700&family=Pavanam&display=swap');

.header-image-nutrition{
  width: 100%;
  max-width: 100%;
  animation: fade-in 2s forwards;
  z-index: -3
}

.nutrition-container{
  display: flex;
  flex-direction: column;
}

.nutrition-header{
  margin-bottom: 10%;
}

.grid-container-nutrition {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 65%;
  margin: 0 auto;
  text-align: center;
  grid-gap: 0 5% ;
  padding: 10%
}

img {
  width: 100%;
  height: auto;
}
.nutr-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.top-nutrition-header, .bottom-nutrition-header{
  padding-bottom: 10%;
  padding-left: 5%;
  width: 40%; 
  height: 0;
  padding-top: 3%; 
  color: #fffcfc;
  text-align: left;
  top: 0;
  left: 0;
  position: absolute;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 50px;

}

.bottom-nutrition-header{
  padding-top: 25%; 
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 30px;
 

}