.grid-container-nutrition {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  grid-gap: 5% 0;
}


img {
  width: 100%;
  height: auto;
}