@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@100&family=IBM+Plex+Sans:wght@700&family=Pavanam&display=swap');

.tooltip{
    width: 10em;
    height: 2em;
    padding: 1em;
    margin: 1em;
    font-size: xx-large;
    background-color:  rgb(55, 68, 58);
    opacity: 90%;
    color: rgb(255, 255, 255);
    arrow: large;
}
