@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@100&family=Pavanam&display=swap');

.popup-window{
    font-family: 'IBM Plex Sans', sans-serif;
    padding-bottom: 9%;
    margin: 1%;
    font-size: 22px;
    box-shadow: 0px 0px 10px #ccc;
    background-color: rgb(17, 17, 17);

}


.popup-grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 47%;
    grid-gap: 4%;
    margin-top: 1%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 2%;

}

 .form-flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}


.popup-header{
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 0;
    font-size: 22px;
    margin-left: 7%;
    margin-bottom: 7%;
    margin-top: 0%;
    text-transform: uppercase;  
    color: #FF5252;
}


.update-input{
    font-size: 15px;
    font-weight: bolder;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: large;
    width: 90%;
    border-color: #7d7d7d;
    color: #595959;

}

fieldset{
    border: 1px solid #bfbfbf;
    color: rgb(211, 211, 211);
}

select{
    width: 90%;
    height: 90%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: large;
    color: #595959;
    border: 2px solid #7d7d7d;
}


.button-styled.btn-form{
    max-width:fit-content;
    align-self: flex-end;
}

.sleep-chart-form, .weight-chart-form{
    align-self: flex-start;
}


@media only screen and (max-width: 450px) {
    .form-flex.goal-form {
      margin-top: 40px
    }

  }
  